<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Campus Connect</title>
    <style>
    html {
      background-color: darkseagreen;
      font-family: Verdana, sans-serif;
      font-size: 1.5em;
      color: white;
    }
      .h1{
        text-align:center;
      }
      .link{
        text-align:right;
      }
      #provider {
        text-align: left;
      }
      #seeker {
        text-align: right;
      }
    </style>
  </head>
  <body
    <div>
      <p1 class="link"><a href="/profile">Profile</a>
      <p1 class="link"><a href="/">sign out</a></p1>
      <h1 class="h1">Your Matches</h1>
      <p> {{email}}</p>
      <img src="{{pic}}"></img>
    </div>
    <div>
    <p id="provider">Service Providers: {{provider}}</p>
    <p id="seeker">Service Seekers: {{seeker}}</p>
    </div>
  </body>
</html>
