<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>

    #pic {
      float:right;
    }
    </style>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../static/profile.css"></link>
<p>Click <a href="{{match_url}}">here</a> to view your matches</p>
  </head>
  <body>
    <h1>{{first_name}}'s Campus Connect Profile</h1>
    <div id="contact">
      <h2>Contact Info</h2>

      <img id="pic" scr:"{{pic}}"></img>
      <p> Email: {{email}} <br>
          Phone Number: {{phone_num}} <br>
      </p>

    </div>
    <div>
      <h2>Your Teachable Skills</h2>
      <ol>
        <li>{{teachable_skills[0]}}</li>
        <li>{{teachable_skills[1]}}</li>
        <li>{{teachable_skills[2]}}</li>
        <li>{{teachable_skills[3]}}</li>
      </ol>

    </div>
    <div>
      <h2> Needed Skills <h2>
          <ol>
            <li>{{skills_needed[0]}}</li>
            <li>{{skills_needed[1]}}</li>
            <li>{{skills_needed[2]}}</li>
            <li>{{skills_needed[3]}}</li>
          </ol>
    </div>
    <div>
      <a href='/match?id=%s' %student_key.urlsafe()></a>
    </div>


  </body>
</html>
