<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <style>
      Input[type="checkbox"]{
        display:block

      }
      p{
        font-size:17px
      }
      h1{
        text-align:center
      }
      Input[type="text"]{
        display:block;
        margin: 6px
      }
    </style>
  </head>
  <body>
    <h1>Welcome to Campus Connect!</h1>
    <h2>Please sign up below!</h2>
    <form method="post" action="/home">
    <input type="text" name="first_name" value="First Name">
    <input type="text" name="last_name" value="Last Name">
    <input type="text" name="phone_num" value="Phone Number">
    <select name="college"
      <option value="">College/University</option>
      <option value="mit">MIT</option>
      <option value="auburn">Auburn University</option>
      <option value="harvard">Harvard</option>
      <option value="ud">University of Delware</option>
      <option value="stanford">Stanford</option>
    </select>
        <!-- <select class="select" multiple name="skills_needed">
            <option value="">Skills Needed</option>
            <option value="cosmo">Cosmetology</option>
            <option value="cooking">Cooking</option>
            <option value="tutoring">Tutoring</option>
            <option value="selfD">Self Defense</option> -->
        <!-- </select> -->
    <p><b>Check the skills that you are looking to learn</b></p>
        <label>
          Cosmetology
          <input type="checkbox" value="cosmo" name="skills_needed"
        </label>
        <label>
          Cooking
          <input type="checkbox" value="cooking" name="skills_needed"
        </label>
        <label>
          Tutoring
          <input type="checkbox" value="tutoring" name="skills_needed"
        </label>
        <label>
          Self Defense
          <input type="checkbox" value="selfD" name="skills_needed"
        </label>
        <p><b>Check the skills that you are able to teach</b></p>
        <label>
          Cosmetology
          <input type="checkbox" value="cosmo" name="teachable_skills"
        </label>
        <label>
          Cooking
          <input type="checkbox" value="cooking" name="teachable_skills"
        </label>
        <label>
          Tutoring
          <input type="checkbox" value="tutoring" name="teachable_skills"
        </label>
        <label>
          Self Defense
          <input type="checkbox" value="selfD" name="teachable_skills"
        </label>


        <!-- <select class="select" multiple="" name="Teachable Skills">
            <option value="">Teachable Skills</option>
            <option value="cosmo">Cosmetology</option>
            <option value="cooking">Cooking</option>
            <option value="tutoring">Tutoring</option>
            <option value="selfD">Self Defense</option>
        </select> -->
    <p><b>Insert a profile picture below</b></p>
    <input encode="multipart/form-data" accept="image/png, image/jpeg" type="file" multiple="false" name="pic">
    <input type="submit">

  </body>
</html>
