<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <style>
      Input[type="checkbox"]{
        display:block

      }
      p{
        font-size:17px
      }
      h1{
        text-align:center
      }
      Input[type="text"]{
        display:block;
        margin: 6px
      }
      html{
        background-color: darkseagreen;
        font-family:Verdana,sans-serif;
        font-size: 1.0em;
        color:white;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to Campus Connect!</h1>
    <h2>Please sign up below!</h2>
    <form method="post" action="/signup">
    <input type="text" name="first_name" value="First Name">
    <input type="text" name="last_name" value="Last Name">
    <input type="text" name="phone_num" value="Phone Number">
    <select name="college">
      <option value="mit">MIT</option>
      <option value="auburn">Auburn University</option>
      <option value="harvard">Harvard</option>
      <option value="ud">University of Delware</option>
      <option value="ua">University of Alabama</option>
      <option value="cornell">Cornell</option>
      <option value="barry">Barry</option>
      <option value="yale">Yale</option>
    </select>
        <!-- <select class="select" multiple name="skills_needed">
            <option value="">Skills Needed</option>
            <option value="Cosmetology">Cosmetology</option>
            <option value="Cooking">Cooking</option>
            <option value="Tutoring">Tutoring</option>
            <option value="Self Defense">Self Defense</option> -->
        <!-- </select> -->
    <p><b>Check the skills that you are looking to learn</b></p>
        <label>
          Cosmetology
          <input type="checkbox" value="Cosmetology" name="skills_needed"
        </label>
        <label>
          Cooking
          <input type="checkbox" value="Cooking" name="skills_needed"
        </label>
        <label>
          Tutoring
          <input type="checkbox" value="Tutoring" name="skills_needed"
        </label>
        <label>
          Self Defense
          <input type="checkbox" value="Self Defense" name="skills_needed"
        </label>
        <p><b>Check the skills that you are able to teach</b></p>
        <label>
          Cosmetology
          <input type="checkbox" value="Cosmetology" name="teachable_skills"
        </label>
        <label>
          Cooking
          <input type="checkbox" value="Cooking" name="teachable_skills"
        </label>
        <label>
          Tutoring
          <input type="checkbox" value="Tutoring" name="teachable_skills"
        </label>
        <label>
          Self Defense
          <input type="checkbox" value="Self Defense" name="teachable_skills"
        </label>

    <p><b>Insert a profile picture below</b></p>
    <input encode="multipart/form-data" accept="image/png, image/jpeg" type="file" multiple="false" name="pic">
    <input type="submit">

  </body>
</html>
