<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/style.css"></link>
    <title>Welcome To Campus Connect!</title>
    <style>
      a:link{
        color:white
      }
      a:visited{
        color:white
      }
      a:hover{
        color:white
      }
      a:active{
        color:white
      }
    </style>

  </head>
  <body>
    <div id="welcome">
      <div class="bg-image"></div>

      <div class="bg-text">
        <h1>Campus Connect</h1>
        <p style="font-size:18px">Campus Connect allows you to exchange services with other students that attend your college.</p>
        <div id="loginbtn">
            <p id="sen1"><a href="{{login_link}}">{{users_url}}</a></p>
        </div>
      </div>

    </div>

</body>
</html>
