<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="../static/style.css"></link>
  <head>
    <meta charset="utf-8">
    <title>Welcome To Campus Connect!</title>
  <h1><img id="logo" src="../static/logo.png"></img>Campus Connect<img id="logo" src="../static/logo.png"></img></h1>
  </head>
  <body>
<img id= "background" src="../static/background.jpg"></img>
<p>Campus Connect allows you to exchange services with other students that attend your college.</p>
<p id="sen1">Click <a href="/signup">here</a> to get started.  <a href="{{login_link}}">{{users_url}}</a> to sign in</p> 
<!-- sign in box goes here -->
<!-- this is where the sign up hyperlink will be -->

</body>
</html>
